.select {
  position: relative;
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
}

.selected {
  display: flex;
  align-items: center;
}

.selected:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 13px;
  border-style: solid;
  border-width: 7px 6px 0 6px;
  border-color: var(--pink) transparent transparent transparent;
}

.selected--open:after {
  border-width: 0 6px 7px 6px;
  border-color: transparent transparent var(--pink) transparent;
}

.options {
  position: absolute;
  display: none;
  top: 30px;
  flex-direction: column;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

.options--open {
  display: flex;
}

.option {
  padding: 10px 0;
}

.option:hover {
  color: var(--pink);
}
