.button {
  border: 0;
  border-radius: var(--form-radius);
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: var(--white);
  background-color: var(--pink);
}

.button:hover {
  opacity: 0.95;
}

.button--medium {
  font-size: var(--font-size-medium);
  padding: 14px 41px;
}

.button--large {
  font-size: var(--font-size-large);
  padding: 18px 82px;
}
