.button {
  display: inline-block;
  border: 1px solid var(--pink);
  border-radius: var(--form-radius);
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  opacity: 0.95;
}

.button--medium {
  font-size: var(--font-size-medium);
  padding: 16px 57px;
}

.button--large {
  font-size: var(--font-size-large);
  padding: 18px 82px;
}

.button--primary {
  background-color: var(--pink);
  color: var(--white);
}

.button--secondary {
  background: transparent;
  color: var(--pink);
}
