@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");

* {
  font-family: "Roboto";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #888;
}

.fade-in {
  animation: fade-in 0.3s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.loading:after {
  animation: 1s linear pulse infinite;
}

.loading:after {
  position: absolute;
  top: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}

@keyframes pulse {
  0% {
    background-color: var(--gray-dark);
  }
  50% {
    background-color: var(--gray-light);
  }
  100% {
    background-color: var(--gray-dark);
  }
}

:root {
  --white: #fff;
  --black: #232323;
  --transparent-black: rgba(0, 0, 0, 0.5);
  --pink: #f65261;

  --gray-text: #bdbdbd;
  --gray-text-dark: #919191;

  --gray-light: #555555;
  --gray-dark: #424242;
  --gray-input: #323232F2;


  --form-radius: 5px;

  --font-size-giant: 52px;
  --font-size-large: 19px;
  --font-size-medium: 16px;
  --font-size-small: 14px;
}
